/* Animation class */

/* Fade in */
@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* Fade out */
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}