/* Main button style */
.main-button {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, var(--primary), var(--info));
}
.main-button:hover {
    background-image: linear-gradient(90deg, var(--teal), var(--green));
}

/* Hero section style */
#home-hero-section {
    background-image: url("../images/image-mockups.png"), url("../images/bg-intro-desktop.svg");
    background-size: 600px, 1000px;
    background-position: 120% -100px, 1500% -200px;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
}
@media screen and (max-width: 600px) {
    #home-hero-section {
        background-image: url("../images/image-mockups.png"), url("../images/bg-intro-mobile.svg");
        background-size: 100%, 100%;
        background-position: 0 -140px, 0 -50px;
        background-repeat: no-repeat;
        height: 450px;
    }
}

/* Desktop menu style */
#desktop-menu {
    display: flex;
}
@media screen and (max-width: 600px) {
    #desktop-menu {
        display: none;
    }
}
