:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #3ab557;
    --teal: #3ad0a3;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #c8d0d7;
    --gray-dark: #9aa3ab;
    --primary: #22d9a5;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-sm: 600px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size-base: 1rem;
    --font-size-xxlarge: 2rem;
    --font-size-xlarge: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-small: 0.75rem;
    --font-size-xsmall: 0.5rem;
    --font-size-xxsmall: 0.25rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
    background-color: var(--light);
}

/* Standard li style */
li {
    list-style: none;
    cursor: pointer;
    border-bottom: solid 2px var(--white);
}
li:hover {
    border-bottom: solid 2px var(--primary);
    color: var(--secondary);
}
li:active {
    animation: fadein 500ms;
}

/* Standard button style */
button {
    border: none;
    outline: none;
    color: var(--light);
}
button:hover {
    color: var(--white);
}
button:active {
    animation: fadein 500ms;
}

/* Image sytle */
img {
    object-fit: cover;
}
@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}