/* Background color */

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-success {
    background-color: var(--success);
}

.bg-info {
    background-color: var(--info);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: var(--white);
}

/* Color */
.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.color-success {
    color: var(--success);
}

.color-info {
    color: var(--info);
}

.color-warning {
    color: var(--warning);
}

.color-danger {
    color: var(--danger);
}

.color-light {
    color: var(--light);
}

.color-dark {
    color: var(--dark);
}